@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-vue: #00c16a;
  --color-dark-vue: #006635;
  --color-ts: #3178c6;
}

@utility btn {
  @apply ring-gray-500;
}

.grid-bg {
  --grid-color: rgba(0,0,0,0.15);
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}